.contact-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
}

.text-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.text-1 {
    border-left: 0.3vw solid #004643;
    color: #27b8b0;
    padding: 1vw;
    font-size: 2.5vw;
    font-weight: bold;
}

.text-2 {
    color: #27b8b0;
    padding: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 80px;
}

.more-info {
    display: flex;
    flex-direction: column;
    color: #27b8b0;
    margin-top: 5vw;
    padding: 2vw;
    padding-left: 0.5vw;
    font-size: 3vw;
    width: 90%;
    border-top: 0.1vw solid #27b8b0;
    border-bottom: 0.1vw solid #27b8b0;
    border-radius: 0.5vw;
}

.info {
    flex-direction: column;
    display: flex;
}

.head {
    font-size: 2.2vw;
    margin-top: 1vw;
    font-weight: bold;
}

.details {
    margin-left: 10vw;
    font-size: 1.8vw;
}

.head img {
    width: 5%;
    margin-right: 2vw;
}

@media screen and (max-width: 700px) {
    .text-info {
        display: none;
    }

    .contact-container .email-form {
        width: 100%;
        margin-left: 0;
        margin-top: 2vw;
        padding: 0;
    }

    .contact-container .email-form .inputBox,
    .contact-container .email-form .inputBox1 {
        width: 95%;
    }

}