.copyright-container{
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #248581;
    padding : 50px;
    font-size: 20px;
}

@media screen and (max-width: 700px){
    .copyright-container{
        font-size: 11px;
    }
}