.email-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: 40%;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.contact-box {
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  position: relative;
  text-align: center;
}

.singup {
  color: bisque;
  letter-spacing: 3px;
  font-size: 2vw;
  font-weight: bold;
  text-decoration: none;
  background-color: #22807e;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1.5vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #22807e;
  border-radius: 10px;
  position: relative;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 90%;
  min-height: 1vw;
  padding-top: 3vw;
}

.inputBox input,
.inputBox textarea,
.inputBox1 input {
  width: 100%;
  padding: 0.5vw;
  padding-top: 2vw;
  padding-left: 2vw;
  outline: none;
  border: none;
  color: #22807e;
  font-size: 1.4vw;
  background: transparent;
  border-left: 0.3vw solid #22807e;
  border-bottom: 0.3vw solid #22807e;
  transition: 0.1s;
  border-bottom-left-radius: 0.8vw;
}

.inputBox span,
.inputBox1 span {
  margin-top: 1vw;
  position: absolute;
  left: 0;
  transform: translateY(-0.4vw);
  margin-left: 1vw;
  padding: 1vw;
  pointer-events: none;
  font-size: 1.5vw;
  color: #22807e;
  transition: 0.5s;
  letter-spacing: 0.3vw;
  border-radius: 0.8vw;
}

.inputBox input:valid~span,
.inputBox textarea:valid~span,
.inputBox input:focus~span {
  transform: translateX(0.6vw) translateY(-1.5vw);
  font-size: 1vw;
  padding: 0.5vw 1vw;
  background: #22807e;
  color: #fff;
  border: 0.2vw;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(0.6vw) translateY(-1.5vw);
  font-size: 1vw;
  padding: 0.5vw 1vw;
  background: #22807e;
  color: #fff;
  border: 0.2vw;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 0.2vw solid #22807e;
  border-radius: 0.8vw;
}

.inputBox textarea[type="text"] {
  min-height: 20vw;
  text-align: left;
  resize: vertical;
  overflow-y: auto;
  padding: 2vw;
  white-space: pre-wrap;
}

.enter {
  height: 3.5vw;
  width: 80%;
  border-radius: 0.5vw;
  border: 0.2vw solid #22807e;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  font-size: 1.6vw;
  letter-spacing: 0.3vw;
  margin-bottom: 2vw;
  margin-top: 4vw;
  color: #fff;
}

.enter:hover {
  background-color: #22807e;
  color: white;
  transform: scale(1.1);
}


@media screen and (max-width: 700px) {

  .singup {
    color: bisque;
    letter-spacing: 3px;
    font-size: 3vw;
    /* Increase font size */
    font-weight: bold;
    text-decoration: none;
    background-color: #22807e;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.5vw;
  }

  .enter {
    height: 4vw;
    width: 80%;
    border-radius: 0.5vw;
    border: 0.2vw solid #22807e;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    margin-bottom: 2vw;
    margin-top: 4vw;
    color: #fff;
  }

  .inputBox span,
  .inputBox1 span {
    margin-top: 1vw;
    position: absolute;
    left: 0;
    transform: translateY(-0.4vw);
    margin-left: 1vw;
    padding: 1vw;
    pointer-events: none;
    font-size: 2vw;
    color: #22807e;
    transition: 0.5s;
    letter-spacing: 0.2vw;
    border-radius: 0.8vw;
  }

  .inputBox,
  .inputBox1 {
    position: relative;
    width: 90%;
    min-height: 2vw;
    padding-top: 5vw;
  }
}