.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10%;
}


.general-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    height: auto;
    border-radius: 10px;
    position: relative;
    background-color: #073a38;
}

.social-box{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    border-radius: 10px;
    position: relative;
    background-color: #073a38;
}

.header {
    width: 100%;
    height: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1d6968;
    font-size: 2vw;
    color: bisque;
}


.header img {
    width: 6%;
    height: auto;
    max-width: 100%; 
    margin-left: 1vw;
}

.informations{
    height: 85%;
    background-color: #073a38;
    display: flex ;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: bisque;
    font-size: 1.5vw;
}

.info{
    flex-direction: row;
    display: flex;
    padding: 0.5vw;
}

.info img {
    width: 3vw;
    margin-right: 2vw;
}

@media  screen and (max-width :700px) {
    .info-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 4%;
    }
    .general-box , .social-box {
        width: 48%;
    }
}



