.resume{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description-toggle-container{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    border-left: 1px solid #188C88;
    border-right: 1px solid #188C88;
}


.toggle-text {
    color: #188C88;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.switch {
    --secondary-container: #295351;
    --primary: #21d3cd;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.4em;
    height: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161f1e;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: bisque;
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: var(--primary);
   }
   
   input:checked + .slider {
    background-color: var(--secondary-container);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }

.resume-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.resume-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 50px;
}


.header-resume{
    flex-direction: column;
    width: 380px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #194140;
}

.resume-title{
    font-size: 24px;
    color: bisque;
    font-weight: bold;
}

.description{
    display: flex;
    text-align: left;
    width: 380px;
    height: 400px;
    max-height: 400px;
    background-color: #041b1b;
    border-top-left-radius: 0; /* Top left corner radius */
    border-top-right-radius: 0; /* Top right corner radius */
    border-bottom-left-radius: 10px; /* Bottom left corner radius */
    border-bottom-right-radius: 10px; /* Bottom right corner radius */
    transition: height 1.2s ease; 
}

.description-text {
    color: bisque;
    font-size: 20px;
    padding: 10px;
}

.description-1{
    display: flex;
    text-align: left;
    width: 380px;
    height: 400px;
    max-height: 400px;
    background-color: #041b1b;
    border-top-left-radius: 0; /* Top left corner radius */
    border-top-right-radius: 0; /* Top right corner radius */
    border-bottom-left-radius: 10px; /* Bottom left corner radius */
    border-bottom-right-radius: 10px; /* Bottom right corner radius */
    transition: height 1.2s ease; 
}

.arrow-icon {
    margin-left: 300px;
    margin-bottom: 10px;
    cursor: pointer;
}

.arrow-icon-2 {
    margin-left: 300px;
    margin-bottom: 10px;
    cursor: pointer;
}

.description.show {
    max-height: 400px;
}

.description-1.show {
    max-height: 400px;
}


.Date-Job{
    font-size: 18px;
    color: bisque;
}

.desc-bullet-points{
    list-style-type: none;
    padding: 10px;
}

.desc-bullet-points li::before{
    content: "\2192";
    color: aqua;
    font-size: 25px;
    margin-right: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 700px) {
    .header-resume, .description, .description-1 {
        width: 100%;
        max-width: 100%;
    }

    .toggle-text {
        font-size: 16px;
    }

    .description-text {
        font-size: 18px;
    }

    .resume-title{
        font-size: 19px;
        color: bisque;
        font-weight: bold;
    }

    .description-text {
        color: bisque;
        font-size: 14px;
        padding: 10px;
    }

    .Date-Job{
        font-size: 15px;
        color: bisque;
    }

    .desc-bullet-points li::before{
        content: "\2192";
        color: aqua;
        font-size: 20px;
        margin-right: 10px;
    }
    
}







